.add-form {
    margin-top: 100px;
}
.all-words {
    margin-top: 100px;
}
table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
th {
    height: 30px;
}
td {
    height: 40px;
    padding-left: 10px;
}
.check-all {
    text-align: left;
}
.clear-btn {
    margin-top: 10px;
}
.del_btn {
    margin-top: 10px;
}
.check-box-word{
    margin-right: 9px;
}
.verification{
    display: none;
}
.login-msg{
    margin-top: 10px;
}
.dicts_list{
    margin-top: 40px;
}
.dict_names{
    text-decoration: none;   
}
.dict_names_box{
    margin-top: 10px;
}
.create-btn{
    margin-top: 10px;
}