{% extends 'base.html' %}

{% block title %}
Choose what to learn
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <form method="POST">
                <button type="submit" class="btn btn-outline-success clear-btn" name="btn" value="clear">
                    Start learning
                </button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <table border="2" class="table">
                <tr>
                    <th>
                        English
                    </th>
                    <th>
                        Russian
                    </th>
                    <th>
                        <input type="checkbox" onClick="toggle(this)">
                    </th>
                </tr>
                {% for word in words %}
                <tr>
                    <td>
                        <h5>{{ word.eng_word }}</h5>
                    </td>
                    <td>
                        <h5>{{ word.ru_word }}</h5>
                    </td>
                    <td width='20'>
                        <input type="checkbox" class="check-box-word" name="checked_words" value="{{ word.eng_word }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
</form>
{% endblock %}