{% extends 'base.html' %}

{% block title %}
All words
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <form method="POST">
                <button type="submit" class="btn btn-outline-danger clear-btn" name="btn" value="clear">
                    Clear table
                </button>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-outline-danger del_btn" name="btn" value="delete_words">
                Delete words
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <table border="2" class="table">
                <tr>
                    <th>
                        English
                    </th>
                    <th>
                        Russian
                    </th>
                    <th>
                        <input id="check-all" type="checkbox" onClick="toggle()">
                    </th>
                </tr>
                {% for word in words.items %}
                <tr>
                    <td>
                        <h5>{{ word.eng_word }}</h5>
                    </td>
                    <td>
                        <h5>{{ word.ru_word }}</h5>
                    </td>
                    <td width='20'>
                        <input type="checkbox" class="check-box-word" name="checked_words"
                            value="{{ word.eng_word }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <ul class="pagination">
                <li class="page-item {% if words.has_prev == False %} disabled {% endif %}">
                    <a class="page-link" href="./?page={{ words.prev_num }}">Previous</a>
                </li>
                <li class="page-item {% if words.page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="./?page=1">1</a>
                </li>

                {% if words.page > 2 %}
                <li class="page-item {% if words.page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="#">...</a>
                </li>
                {% endif %}

                {% if words.page > 1 and words.page < words.pages %}
                <li class="page-item {% if words.page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="./?page=1">{{ words.page }}</a>
                </li>
                {% endif %}

                {% if words.page < words.pages-1 %}
                <li class="page-item {% if words.page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="#">...</a>
                </li>
                {% endif %}

                <li class="page-item {% if words.page == words.pages %} disabled {% endif %}">
                    <a class="page-link" href="./?page={{ words.pages }}">{{ words.pages }}</a>
                </li>
                <li class="page-item {% if words.has_next == False %} disabled {% endif %}">
                    <a class="page-link" href="./?page={{ words.next_num }}">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</form>
{% endblock %}